.background {
  background-image: url("../img/background.jpg");
  background-position: center;
  background-size: cover;
}

.container {
  padding: 1em;
  background: rgba(255,255,255,0.5);
  min-height: 100vh;
}