.background {
  /* background-image: url("../img/background.jpg");
  background-position: center;
  background-size: cover; */
  background: #33C3F0;
}

.container {
  /* padding: 1em; */
  /* background: rgba(255,255,255,0.5); */
  position: relative;
}

#camera-container {
  position: fixed;
  bottom: 0;
  right: 0;
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#camera-container * {
  margin: 0;
}

#memes {
  padding-bottom: 200px;
}